.list-item{
	text-align: center;
}
.list-code{
	font-size:0.9em;
}
.list-name{
	font-size:1.1em;
}
.list-price{
	width:30%;
	font-size:1.2em;
	color:#444;
}
.list-percent{
	width:30%;
	color:#444;
}
.list-percent span:first-child{
	font-size: 1.2em;
	line-height: 1.6em;
}
.list-percent span:last-child{
	font-size:0.9em;
}
.red{
	color:red;
}
.green{
	color:green;
}