<ion-header>
  <ion-toolbar>
    <ion-title>
      查找股票
    </ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar no-border-top>
    <ion-searchbar placeholder="请输入股票代码、文字或拼音" [(ngModel)]="q" (ionInput)="find()"
      showCancelButton={true} (ionCancel)="clear()"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="height: 100%;">
    <ion-item *ngFor="let item of results" (click)="gotoDetails(item)">
      <ion-label>{{item.codeS}}</ion-label>
      <ion-label>{{item.name}}</ion-label>
      <ion-button *ngIf="!item.added" slots="end" fill="outline" (click)="addToFavors(item.code,$event)">
        <span class="button-inner">加入自选股</span>
      </ion-button>
      <ion-button *ngIf="item.added" slots="end" fill="outline" color="medium" (click)="addToFavors('', $event)">
        <span class="button-inner">已加自选股</span>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>