<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{stock.name&&(stock.code.slice(2)+' '+stock.name)}}</ion-title>
	<ion-buttons end>
	<button (click)="showSearchBar()">
    <ion-icon name="search"></ion-icon>
  </button>
	</ion-buttons>
</ion-navbar>

<ion-content>
	<ion-card>

  <ion-item>
    <ion-label>{{stock.close}}</ion-label>
		<button primary clear item-right (click)="addRemove()">
			<ion-icon [name]="isFavor?'remove-circle':'add-circle'"></ion-icon>
      <!--<ion-icon *ngIf="isFavor" name="remove-circle"></ion-icon>
			<ion-icon *ngIf="!isFavor" name="add-circle"></ion-icon>-->
    </button>
  </ion-item>
	<ion-item>
		<ion-label>开盘</ion-label>
    <ion-label>{{stock.open}}</ion-label>
		<ion-label>{{stock.high}}</ion-label>
		<ion-label>{{stock.low}}</ion-label>
  </ion-item>
  <ion-item>
    <button primary clear item-left>
      <ion-icon name="thumbs-up"></ion-icon>
      <div>12 Likes</div>
    </button>
    <button primary clear item-left>
      <ion-icon name="text"></ion-icon>
      <div>4 Comments</div>
    </button>
    <ion-note item-right>
      11h ago
    </ion-note>
  </ion-item>

	</ion-card>
	<div padding>
  <ion-segment [(ngModel)]="chartType">
    <ion-segment-button value="minutes">
      分时
    </ion-segment-button>
    <ion-segment-button value="day">
      日K
    </ion-segment-button>
		<ion-segment-button value="week">
      周K
    </ion-segment-button>
		<ion-segment-button value="month">
      月K
    </ion-segment-button>
  </ion-segment>
	</div>
	<div [ngSwitch]="chartType">
		
	</div>
	<div class="canvas-wrapper" >
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <span className="chartLabel"></span>
      <canvas id="stock-chart"></canvas>
    </div>
	<ion-card *ngIf="showBuySell">
  	<ion-item>
			<ion-label>买1</ion-label>
    	<ion-label>{{stock.buy1}}</ion-label>
			<ion-label>{{stock.buy1Vol}}</ion-label>
			<ion-label>卖1</ion-label>
			<ion-label>{{stock.sell1}}</ion-label>
			<ion-label>{{stock.sell1Vol}}</ion-label>
  	</ion-item>
  	<ion-item>
			<ion-label>买2</ion-label>
    	<ion-label>{{stock.buy2}}</ion-label>
			<ion-label>{{stock.buy2Vol}}</ion-label>
			<ion-label>卖2</ion-label>
			<ion-label>{{stock.sell2}}</ion-label>
			<ion-label>{{stock.sell2Vol}}</ion-label>
  	</ion-item>
		<ion-item>
			<ion-label>买3</ion-label>
    	<ion-label>{{stock.buy3}}</ion-label>
			<ion-label>{{stock.buy3Vol}}</ion-label>
			<ion-label>卖3</ion-label>
			<ion-label>{{stock.sell3}}</ion-label>
			<ion-label>{{stock.sell3Vol}}</ion-label>
  	</ion-item>
		<ion-item>
			<ion-label>买4</ion-label>
    	<ion-label>{{stock.buy4}}</ion-label>
			<ion-label>{{stock.buy4Vol}}</ion-label>
			<ion-label>卖4</ion-label>
			<ion-label>{{stock.sell4}}</ion-label>
			<ion-label>{{stock.sell4Vol}}</ion-label>
  	</ion-item>
		<ion-item>
			<ion-label>买5</ion-label>
    	<ion-label>{{stock.buy5}}</ion-label>
			<ion-label>{{stock.buy5Vol}}</ion-label>
			<ion-label>卖5</ion-label>
			<ion-label>{{stock.sell5}}</ion-label>
			<ion-label>{{stock.sell5Vol}}</ion-label>
  	</ion-item>
	</ion-card>
</ion-content>
