<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>{{stock.name&&(stock.code.slice(2)+' '+stock.name)}}</ion-title>
	<ion-buttons end>
	<button (click)="showSearchBar()">
    <ion-icon name="search"></ion-icon>
  </button>
	</ion-buttons>
</ion-navbar>

<ion-content class="cards-bg">
	<ion-card>
		<ion-row center class="stock-prices" [class.red]="stock.isIncrease" [class.green]="stock.isDecline">
  		<ion-col width-50 class="detail-close">{{stock.close}}</ion-col>
			<ion-col width-20 class="detail-percent">
				<span>{{stock.percent}}</span><br />
				<span>{{stock.diff|PriceDiff}}</span>
			</ion-col>
			<ion-col offset-10 width-20>
				<button primary clear (click)="addRemove()">
				<ion-icon [name]="isFavor?'remove-circle':'add-circle'"></ion-icon>
      	<!--<ion-icon *ngIf="isFavor" name="remove-circle"></ion-icon>
				<ion-icon *ngIf="!isFavor" name="add-circle"></ion-icon>-->
    		</button>
			</ion-col>
		</ion-row>
 		<ion-row>
			<ion-col width-25 class="stock-cell"><span>开盘</span><br />
				<em [class.red]="stock.open>stock.last" [class.green]="stock.last>stock.open">
					{{stock.open}}</em></ion-col>
    	<ion-col width-25 class="stock-cell"><span>昨收</span><br />
				<em>{{stock.last}}</em>
			</ion-col>
			<ion-col width-25 class="stock-cell">
				<span>最高</span><br />
				<em>{{stock.high}}</em></ion-col>
			<ion-col width-25 class="stock-cell">
				<span>最低</span><br />
				<em>{{stock.low}}</em></ion-col>
  	</ion-row>
  	<ion-row>
			<ion-col width-25 class="stock-cell">
				<span>均价</span><br />
				<em>{{stock.open}}</em></ion-col>
    	<ion-col width-25 class="stock-cell">
				<span>换手率</span><br />
				<em>{{stock.turnoverRate}}</em>
			</ion-col>
			<ion-col width-25 class="stock-cell">
				<span>成交量</span><br />
				<em>{{stock.volume}}</em></ion-col>
			<ion-col width-25 class="stock-cell">
				<span>成交额</span><br />
				<em>{{stock.amount}}</em></ion-col>
  	</ion-row>
	</ion-card>
	<div padding>
  <ion-segment [(ngModel)]="chartType" (change)="updateChart()">
    <ion-segment-button value="minutes">
      分时
    </ion-segment-button>
    <ion-segment-button value="days">
      日K
    </ion-segment-button>
		<ion-segment-button value="weeks">
      周K
    </ion-segment-button>
		<ion-segment-button value="months">
      月K
    </ion-segment-button>
  </ion-segment>
	</div>
	<div class="canvas-wrapper" >
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <span class="chartLabel"></span>
      <canvas id="stock-chart"></canvas>
  </div>
	<ion-card *ngIf="showBuySell" class="stock-prices">
		<ion-row center>
			<ion-col width-10 class="price-label">买1</ion-col>
			<ion-col width-20 [class.red]="stock.buy1>stock.last" [class.green]="stock.last>stock.buy1">{{stock.buy1}}</ion-col>
			<ion-col width-20>{{stock.buy1Vol}}</ion-col>
			<ion-col width-10 class="price-label">卖1</ion-col>
			<ion-col width-20 [class.red]="stock.sell1>stock.last" [class.green]="stock.last>stock.sell1">{{stock.sell1}}</ion-col>
			<ion-col width-20>{{stock.sell1Vol}}</ion-col>
		</ion-row>
  	<ion-row center>
			<ion-col width-10 class="price-label">买2</ion-col>
			<ion-col width-20 [class.red]="stock.buy2>stock.last" [class.green]="stock.last>stock.buy2">{{stock.buy2}}</ion-col>
			<ion-col width-20>{{stock.buy2Vol}}</ion-col>
			<ion-col width-10 class="price-label">卖2</ion-col>
			<ion-col width-20 [class.red]="stock.sell2>stock.last" [class.green]="stock.last>stock.sell2">{{stock.sell2}}</ion-col>
			<ion-col width-20>{{stock.sell2Vol}}</ion-col>
		</ion-row>
		<ion-row center>
			<ion-col width-10 class="price-label">买3</ion-col>
			<ion-col width-20 [class.red]="stock.buy3>stock.last" [class.green]="stock.last>stock.buy3">{{stock.buy3}}</ion-col>
			<ion-col width-20>{{stock.buy3Vol}}</ion-col>
			<ion-col width-10 class="price-label">卖3</ion-col>
			<ion-col width-20 [class.red]="stock.sell3>stock.last" [class.green]="stock.last>stock.sell3">{{stock.sell3}}</ion-col>
			<ion-col width-20>{{stock.sell3Vol}}</ion-col>
		</ion-row>
		<ion-row center>
			<ion-col width-10 class="price-label">买4</ion-col>
			<ion-col width-20 [class.red]="stock.buy4>stock.last" [class.green]="stock.last>stock.buy4">{{stock.buy4}}</ion-col>
			<ion-col width-20>{{stock.buy4Vol}}</ion-col>
			<ion-col width-10 class="price-label">卖4</ion-col>
			<ion-col width-20 [class.red]="stock.sell4>stock.last" [class.green]="stock.last>stock.sell4">{{stock.sell4}}</ion-col>
			<ion-col width-20>{{stock.sell4Vol}}</ion-col>
		</ion-row>
		<ion-row center>
			<ion-col width-10 class="price-label">买5</ion-col>
			<ion-col width-20 [class.red]="stock.buy5>stock.last" [class.green]="stock.last>stock.buy5">{{stock.buy5}}</ion-col>
			<ion-col width-20>{{stock.buy5Vol}}</ion-col>
			<ion-col width-10 class="price-label">卖5</ion-col>
			<ion-col width-20 [class.red]="stock.sell5>stock.last" [class.green]="stock.last>stock.sell5">{{stock.sell5}}</ion-col>
			<ion-col width-20>{{stock.sell5Vol}}</ion-col>
		</ion-row>
	</ion-card>
</ion-content>
