<ion-app>
  <ion-split-pane contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>ionic股市行情</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-Hide=false>
        <ion-list>
          <ion-list-header>
            主菜单
          </ion-list-header>
          <!-- <ion-item routerLink="/home">
            <ion-icon item-left [name]="pages[0].icon" color=" primary"></ion-icon>
            自选股
          </ion-item> -->
          <ion-item *ngFor="let p of pages" (click)="gotoPage(p)">
            <ion-icon [name]="p.icon" [color]="getColor(p)"></ion-icon>
            {{p.title}}
          </ion-item>
          <ng-container *ngIf="!isActive('/home')">
            <ion-item *ngFor="let stock of stocks" routerLink="/details/{{stock.code}}">
              <ion-icon [name]="isActive('/details/' + stock.code) ? 'pin' : ''" color="primary"></ion-icon>
              {{stock.title}}
            </ion-item>
          </ng-container>
        </ion-list>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
    <!-- <ion-nav id="nav" [root]="root" #content swipe-back-enabled="false" main></ion-nav> -->
  </ion-split-pane>
</ion-app>
