<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title *ngIf="!searchBar">自选股</ion-title>
	<ion-searchbar *ngIf="searchBar" (cancel)="onCancelSearch($event)"></ion-searchbar>
	<ion-buttons end>
	<button (click)="showSearchBar()">
    <ion-icon name="search"></ion-icon>
  </button>
	</ion-buttons>
</ion-navbar>

<ion-content class="home">
  <ion-list>
    <ion-item class="list-item" *ngFor="#stock of stocks" (click)="gotoDetail(stock)">
			<div>
				<span class="list-code">{{stock.code.slice(2)}}</span><br>
				<span class="list-name">{{stock.name}}</span>	
			</div>
			<div class="list-price" [class.red]="isIncrease(stock)" [class.green]="isDecline(stock)" item-right>
				<span>{{stock.close}}</span>
			</div>
      <div class="list-percent" [class.red]="isIncrease(stock)" [class.green]="isDecline(stock)" item-right>
				<span>{{getPercent(stock)}}</span><br>
				<span>{{getDiff(stock)|PriceDiff}}</span>
			</div>
    </ion-item>
  </ion-list>
</ion-content>
