.list-item{
	text-align: center;
	display: flex;
	height: 3.8rem;
}
.list-label {
	flex: 1;
}
.list-code{
	font-size: 1rem;
}
.list-name{
	font-size:1.1rem;
}
.list-price{
	flex: 1;
	font-size:1.2rem;
	color:#444;
}
.list-percent{
	flex: 1;
	color:#444;
}
.list-percent span:first-child{
	font-size: 1.1rem;
}
.list-percent span:last-child{
	font-size:0.9rem;
}
.red{
	color:red;
}
.green{
	color:green;
}