.canvas-wrapper{
	position: relative;
}
.chartLabel{
	position: absolute;
}
.bar-btn{
	margin-right: 6px;
}

ion-content.details-bg {
  background-color: #f4f4f7;
}
.price-card{
	margin-bottom: 0;
}
.detail-close{
	font-size: 2.5em;
}
.detail-percent{
	font-size:1.2em;
}
.stock-cell{
	text-align: center;
	border-top: 1px solid #f4f4f7;
	border-left: 1px solid #f4f4f7;
}
.stock-cell span{
	color:#333;
}
.stock-cell em{
	display: inline-block;
	margin-top:5px;
	font-size: 1em;
}
.stock-prices{
	align-items: center;
	text-align: center;
}
.price-label{
	color:#333;
	font-size:0.9em;
}
.add-btn{
	font-size: 1.25em;
}
.segment-padding{
	padding-top: 0;
}
.chart-wrapper{
	background-color: #fff;
}
.mins-line{
	stroke:darkblue;
}
.avg-line{
	stroke: grey;
}
.price-line{
	stroke-width: 1px;
	fill:none;
}
.time-axis{
	font-size: 1.6em;
}
.v-line,.h-line{
	stroke-width: 1px;
	stroke:#eee;
}
.candle-line{
	stroke-width: 1px;

}
.ma-line{
	fill:none;
	stroke-width:1px;
}
.ma5{
	stroke: grey;
}
.ma10{
	stroke: black;
}
.ma20{
	stroke: blue;
}
.candle-info{
	position: absolute;
	display: none;
	border:black solid 1px;
	width:8em;
	height: 10em;
}
.cursorline{
	stroke:#999;
	stroke-width:1px;
	display:none;
}